<p-card >
    <form [formGroup]="EmpresaForm" (ngSubmit)="editEmpresa()">
    <div class="grid bar">
    
    <div class="col-6 color_texto">
            <b><h1 class="-mb-1 -mt-1">Editar Empresa</h1></b>
            <small id="username2-help" >Utiliza los campos para actualizar los datos</small>

    </div>
    <div class="col-2 centrado">
             
    </div>
    <div class="col-2 centrado">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-rounded  centrado boton" (click)="home()"></button>     
    </div>
    <div class="col-2 centrado">
        <button pButton pRipple type="submit" [disabled]="EmpresaForm.invalid" label="Guardar" class="p-button-rounded boton  centrado"></button>     
    </div>
</div>
    <div class="p-fluid grid">
        <input type="hidden" id="create_at" pInputText type="hidden" class=" col-12  ng-dirty border-3 border-indigo-400 " formControlName="createAt">
        <input type="hidden" id="update_at" pInputText  class=" col-12  ng-dirty border-3 border-indigo-400 " formControlName="updateAt">
        <input type="hidden" id="id" p-inputNumber  class=" col-12  ng-dirty border-3 border-indigo-400 " formControlName="id">
        
        <div class="col-6">
        <h5>Nombre Comercial</h5>
            <input type="text" id="nombre-comercial" type="username" aria-describedby="nombre-comercial-help" pInputText  class=" col-12  ng-dirty border-3 border-indigo-400 " formControlName="nombreComercial">
            <small id="nombre-comercial-help" *ngIf="EmpresaForm.get('nombreComercial')?.invalid" class="p-error block">Ingrese un Nombre</small>
        </div>
    <div class="col-6">
        <h5>Razon Social</h5>
            <input type="text" id="razon-social" type="username" aria-describedby="razon-social-help" pInputText  class=" col-12 ng-dirty border-3 border-indigo-400" formControlName="razonSocial">
            <small id="razon-social-help" *ngIf="EmpresaForm.get('razonSocial')?.invalid" class="p-error block">Ingrese Razon Social</small>
    </div>   
    <div class="col-6">
        <h5>Telefono</h5>
            <input type=""   pInputText id="telefono" aria-describedby="telefono-help"  class="  col-12 ng-dirty border-3 border-indigo-400" formControlName="telefono">
            <small id="telefono-help" *ngIf="EmpresaForm.get('telefono')?.invalid" class="p-error block">Ingrese un telefono de 8 caracteres numericos</small>
        </div>
    <div class="col-6">
        <h5>Correo Electronico</h5>
            <input type="text" id="correo"  pInputText  class=" col-12 ng-dirty border-3 border-indigo-400" formControlName="correo">
    </div> 
    <div class="col-6">
        <h5>NIT</h5>
            <input type="text" id="NIT" pInputText aria-describedby="email-help" class=" col-12 p-invalid ng-dirty border-3 border-indigo-400 " formControlName="nit">
            <small id="telefono-help" *ngIf="EmpresaForm.get('nit')?.invalid"  class="p-error">Ingrese NIT con formato de 5 caracteres numericos mas "-" mas 1 caracter numerico</small>
        </div>
    <div class="col-6">
        <h5>Estado</h5>
            <input type="text" id="estado" aria-describedby="estado-help" pInputText  class=" col-12  ng-dirty border-3 border-indigo-400" formControlName="estado">
            <small  id="estado-help" *ngIf="EmpresaForm.get('estado')?.invalid" class="p-error">Ingrese estado "activo" o "inactivo"</small>
    </div>  
    <div class=" col-12">
        <h5>Direccion</h5>
            <input type="text"
             id="direccion" 
             aria-describedby="direccion-help"   
             class=" col-12  ng-dirty border-3 border-indigo-400"
              pInputText formControlName="direccion"
              >
            <small  id="direccion-help" *ngIf="EmpresaForm.get('direccion')?.invalid" class="p-error">Ingrese direccion</small>
    </div>
    </div>
</form>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</p-card>
